@use "sass:map";

$theme-colors: (
  "primary":    #0A9396,
  "secondary":  #94D2BD,
  "success":    #0A9396,
  "info":       #E9D8A6,
  "warning":    #CA6702,
  "danger":     #AE2012,
  "light":      #E9D8A6,
  "dark":       #005F73,
  "badge-bronze": #cd7f32,
  "badge-silver": #c0c0c0,
  "badge-gold": #ffd700,
  "badge-platinum": #e5e4e2,
  "grey-light": #f4f4f4,
  "grey-medium": #dad7d7,
  "grey-dark": #a6a6a6,
  "warning-scale-1": #CA6702,
  "warning-scale-2": #CD7110,
  "warning-scale-3": #D07A1E,
  "warning-scale-4": #D3832C,
  "warning-scale-5": #D58C3A,
  "warning-scale-6": #D89648,
  "warning-scale-7": #DA9F56,
  "warning-scale-8": #DDA864,
  "success-scale-1": #0A9396,
  "success-scale-2": #199A9B,
  "success-scale-3": #28A0A0,
  "success-scale-4": #37A7A5,
  "success-scale-5": #45ADA9,
  "success-scale-6": #54B4AE,
  "success-scale-7": #62BAB3,
  "success-scale-8": #71C1B8,

);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1450px,
  xxxl: 1700px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1450px,
  xxxl: 1600px
);

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
  7: 1rem
);

$accordion-button-padding-y: 0.5rem;
$accordion-button-focus-border-color:  rgba(0, 0, 0, 0);
$accordion-button-focus-box-shadow: none;
$accordion-button-active-bg: rgba(0, 0, 0, 0);

.hover-bg-info:hover {
  background-color: rgba(233, 216, 165, 1) !important;
  transition: all 0.2s ease-in-out;
}

.hover-bg-grey-light:hover {
  background-color: map-get($theme-colors, "grey-light");
  transition: all 0.2s ease-in-out;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-help {
  cursor: help;
}

.tooltip-large .tooltip-inner {
  min-width: 400px;
  width: 100%;
  max-width: 100%; 
}

.tooltip-medium .tooltip-inner {
  min-width: 250px;
  width: 100%;
  max-width: 100%; 
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px map-get($theme-colors, "grey-light");
  border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px map-get($theme-colors, "secondary");
  border: solid 3px transparent;
}

html {
  font-family: sans-serif;
  min-width: 768px;
}
body {
  margin: 0;
}

.mw-50 {
  width: 50px;
}

.mh-100 {
  max-height: 100px;
  height: 100%;
}

.mh-200 {
  max-height: 200px;
  height: 100%;
}

.mh-300 {
  max-height: 300px;
  height: 100%;
}

.mh-400 {
  max-height: 400px;
  height: 100%;
}

.mh-500 {
  max-height: 500px;
  height: 100%;
}

.rotate-0 {
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}

.rotate-30 {
  transform: rotate(30deg);
}

.rotate-45 {
  transform: rotate(45deg);
}

.rotate-60 {
  transform: rotate(60deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(-180deg);
  transition: all 0.3s ease-in-out;
}

.rotate-270 {
  transform: rotate(270deg);
}

.pulse-animation {
  animation: fadeInOut 2s linear 1 forwards;
  animation-iteration-count: infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@import '~bootstrap/scss/bootstrap.scss';

.timetable-hour {
  height: 40px;
  position: relative;
}
.timetable-hour small {
  margin-top: -12px;
  position: absolute;
  margin-left: -17px;
}

.timetable-grid {
  height: 20px;
  margin: 0 -12px;
}

.pnlBar {
  min-width: 100%;
}