@use "sass:map";

$theme-colors: (
  "dark":       #023838,
  "primary":    #008080,
  "secondary":  #81D8D0,
  "success":    #71c78b,
  "info":       #a583f5,
  "warning":    #FFCC40,
  "danger":     #FE8F66,
  "light":      #EDE7E3,
  "badge-bronze": #cd7f32,
  "badge-silver": #c0c0c0,
  "badge-gold": #ffd700,
  "badge-platinum": #e5e4e2,
  "grey-light": #f4f4f4,
  "grey-medium": #dad7d7,
  "grey-dark": #a6a6a6,
  "grey-superdark": #5f5f5f,
  
  "success-light":    #90cfa3,
  "info-light":       #bfa8f5,
  "warning-light":    #fad263,
  "danger-light":     #fca88a,

  "page": #FCFCFF,
  "white": #FFFFFF,

  "chart-1": #83C7FE,
  "chart-2": #FFE5A1,
  "chart-3": #e08e78,

  "select": #4F46BA
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1300px,
  xl: 1500px,
  xxl: 1800px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1300px,
  xl: 1500px,
  xxl: 1800px
);

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
  7: 1rem
);

$accordion-button-padding-y: 0.5rem;
$accordion-button-focus-border-color:  rgba(0, 0, 0, 0);
$accordion-button-focus-box-shadow: none;
$accordion-button-active-bg: rgba(0, 0, 0, 0);

$input-focus-box-shadow: none;

$font-family-base: 'Jost', sans-serif;
$body-bg: map-get($theme-colors, "page");

.form-check-input:checked {
  background-color: map-get($theme-colors, "info-light") !important;
  border-color: map-get($theme-colors, "info") !important;
}

.form-check-input:focus {
  border-color: map-get($theme-colors, "info-light") !important;
  outline: 0;
  box-shadow: none !important;
}

.hover-bg-info:hover {
  background-color: rgba(233, 216, 165, 1) !important;
  transition: all 0.2s ease-in-out;
}

.hover-bg-light:hover {
  background-color: rgba(237, 231, 227, 1) !important;
  transition: all 0.2s ease-in-out;
}

.hover-bg-secondary:hover,
.forced-hover-bg-secondary {
  background-color: rgba(129, 216, 208, 1) !important;
  transition: all 0.2s ease-in-out;
}

.hover-bg-grey-light:hover {
  background-color: map-get($theme-colors, "grey-light");
  transition: all 0.2s ease-in-out;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-help {
  cursor: help;
}

.tooltip-large .tooltip-inner {
  min-width: 400px;
  width: 100%;
  max-width: 100%; 
}

.tooltip-medium .tooltip-inner {
  min-width: 250px;
  width: 100%;
  max-width: 100%; 
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px map-get($theme-colors, "light");
  border: solid 3px transparent;
}

#create-airline {
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px map-get($theme-colors, "primary");
    border: solid 5px transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px map-get($theme-colors, "white");
    border: solid 5px transparent;
  }
}

html {
  font-family: sans-serif;
  min-width: 1300px;
  min-height: 800px;
}
body {
  margin: 0;
  background-color: map-get($theme-colors, "page");
}

html,
body,
#root {
  height: 100%;
}

.mw-50 {
  width: 50px;
}

.mh-100 {
  max-height: 100px;
  height: 100%;
}

.mh-200 {
  max-height: 200px;
  height: 100%;
}

.mh-300 {
  max-height: 300px;
  height: 100%;
}

.mh-350 {
  max-height: 350px;
  height: 100%;
}

.mh-400 {
  max-height: 400px;
  height: 100%;
}

.mh-450 {
  max-height: 450px;
  height: 100%;
}

.mh-500 {
  max-height: 500px;
  height: 100%;
}

.mh-600 {
  max-height: 600px;
  height: 100%;
}

.mh-700 {
  max-height: 700px;
  height: 100%;
}

.mh-800 {
  max-height: 800px;
  height: 100%;
}

.rotate-0 {
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}

.rotate-30 {
  transform: rotate(30deg);
}

.rotate-45 {
  transform: rotate(45deg);
}

.rotate-60 {
  transform: rotate(60deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-135 {
  transform: rotate(135deg);
}

.rotate-180 {
  transform: rotate(-180deg);
  transition: all 0.3s ease-in-out;
}

.rotate-270 {
  transform: rotate(270deg);
}

.rotate-300 {
  transform: rotate(300deg);
}

.pulse-animation {
  animation: fadeInOut 2s linear 1 forwards;
  animation-iteration-count: infinite;
}

.plane-icon {
  border: none;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@import '~bootstrap/scss/bootstrap.scss';

.timetable-hour {
  height: 40px;
  position: relative;
}
.timetable-hour small {
  margin-top: -12px;
  position: absolute;
  margin-left: -17px;
}

.timetable-grid {
  height: 20px;
  margin: 0 -12px;
}

.pnl-bar {
  min-width: 100%;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.icon-container {
  box-sizing: content-box;
  padding: 12px;
  margin-top: -12px;
  background-color: map-get($theme-colors, "primary");
  z-index: 1;
}

.rounded-left {
  border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius) !important;
  border-right: none !important;
}

.rounded-right {
  border-radius: 0 var(--bs-border-radius) var(--bs-border-radius) 0 !important;
  border-left: none !important;
}
.col-10p{
  flex: 0 0 auto;
  max-width: 10%;
}
.col-15p{
  flex: 0 0 auto;
  max-width: 15%;
}
.col-20p{
  flex: 0 0 auto;
  max-width: 20%;
}
.col-25p{
  flex: 0 0 auto;
  max-width: 25%;
}

.grayscale {
  filter: grayscale(100%);
}

.widget-full-height {
  max-height: calc(100vh - 170px);
}

.widget-full-height-filter {
  max-height: calc(100vh - 235px);
}

.widget-shadow{
  box-shadow: 0px 10px 30px -10px rgba(153, 155, 160, 1);
  border-radius: 20px;
  border: none;
  background-color: #FFFFFF;

  div {
    background: none;
    border: none;
  }
}

.item-shadow{
  box-shadow: 0px 0px 10px -1px rgba(153, 155, 160, 1);
}

.leaflet-container {
  border-radius: 20px 0 20px 0;
}

.table-header-cell {
  background-color: map-get($theme-colors, "info");
  color: map-get($theme-colors, "white");
  border: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.code-snippet{
  font-family: 'Ubuntu Mono', monospace;
  background-color: map-get($theme-colors, "grey-light");
  color: map-get($theme-colors, "grey-superdark");
  border-radius: 5px;
  padding: 2px 5px;
}